extends layout

block content
  h1= 'In app payments from C'
  button(id='getToken')= 'Fetch token'
  button(id='getPostback', disabled='true')= 'Pay'
  button(id='clear')= 'Clear'
  br
  div(id='msg')