doctype 5
html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/my.js')
    script(src='/socket.io/socket.io.js')
  body
    block content